#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    max-width: 1200px;
}

body {
    margin: 0;
}

main {
    margin: 1rem;
}
