#navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #fafafa;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 13px -1px rgba(0, 0, 0, 0.15);
}

#navbar a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

#navbar-links {
    flex-grow: 1;
}

#person-icon {
    width: 2.5rem;
}

#navbar-user {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
